
.card{
    margin-bottom: 15px;
    border-radius: 20px;
    border-style: none;
   
}
.card li {
    margin: 20px 0;

    color: rgb(188, 188, 188);
}
.nav-link{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 30px;
}

.card li a svg{
    margin-right: 15px;
}
.card li a svg{
    color:rgb(147, 147, 148)
}
.card .active{
    color: blue;
    background-color: rgb(135, 135, 135);

}
.main-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}
.card{
   
    background-color: blueviolet;
}